.sideBar {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: white;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
.icon {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  color: black;
}
.mobileIcon {
  display: none;
}
.sideBarMenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 80px);
  text-align: center;
}
.sideBarWrapper {
  color: black;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.sideBarLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  color: black;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .sideBarMenu {
    grid-template-rows: repeat(7, 60px);
  }
}
@media screen and (max-width: 768px) {
  .mobileIcon {
    display: block;
    /* position: absolute; */
    /* top: 0; */
    /* right: 20px; */
    /* transform: translate(-100%, 60%); */
    font-size: 0.5rem;
    cursor: pointer;
  }
  .navBarMenu {
    display: none !important;
  }
}
@media screen and (max-width: 960px) {
  .navBar {
    transition: 0.8s all ease;
  }
}

@media screen and (max-width: 425px) {
  .navBarItem {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .navBarItem {
    font-size: 1rem !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navBarItem {
    font-size: 1.2rem !important;
  }
}
