.header {
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  display: flex;
  cursor: pointer;
  height: 100%;
  align-items: center;
  margin-bottom: 10px;
}
.id {
  font-size: 1.3rem;
  color: black;
  text-decoration: underline;
  text-decoration-color: rgb(202, 196, 196);
  font-weight: 200;
  background-color: rgb(202, 196, 196);
  width: 5%;
  margin-right: 10px;
  margin-bottom: 0px;
  padding: 2px 2px;
  text-align: center;
  align-self: center;
}
.title {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: left;
  margin-right: 10px;
  margin-bottom: 0px;
}
.Dropdown {
  color: rgb(145, 141, 141);
}
.Dropdown:hover {
  text-decoration: underline;
  color: blue;
}
.icon {
  transform: scale(2) rotate(90deg) !important;
}
.iconDown {
  transform: scale(2) rotate(180deg) !important;
}
.images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 425px) {
  .title1 h1 {
    font-size: 15px;
    margin-top: 10px;
  }
  .title1 {
    padding-top: 10px !important;
  }
  .title {
    font-size: 10px !important;
  }
  .infoo {
    font-size: 10px !important;
  }
  .id {
    font-size: 5px !important;
  }
  .icon {
    transform: scale(1) rotate(90deg) !important;
  }
  .iconDown {
    transform: scale(1) rotate(180deg) !important;
  }
}
