@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.textBlue1 {
  color: #3a6fa2;
}

.textBlue2 {
  color: #0071b3;
}

.uniName {
  color: #3a6fa2;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  padding: 10px 0px;
}

.uniName img {
  cursor: pointer;
}

.navbarOption {
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

.navbarOption:hover {
  color: #0071b3;
  text-decoration: underline;
}

.bannerContainer {
  width: 100%;
  height: 520px;
  max-height: 520px;
}

.heroImage {
  /* width: 100%;
  height: 100%; */
  height: 520px;
  width: 100%;
  -webkit-animation: fade-in 1.7s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: fade-in 1.7s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.heroOverlap:before {
  content: "";
  opacity: 0.4;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bannerTextSection {
  position: absolute;
  top: 20%;
  z-index: 2;
}

.buttonBanner {
  border: 2px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  background-color: transparent;
  padding: 13px 55px;
  z-index: 2;
  margin: 0 7px;
}

.buttonBanner:hover {
  color: black;
  background-color: white;
}

.bannerCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerText {
  color: white;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  z-index: 2;
  text-align: center;
  margin: 10px 0;
  width: 600px;
}

.mainContainer {
  padding: 25px 0 30px;
}

.mainContainer .mainHeader {
  color: #0071b3;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  padding: 15px 0;
  text-align: center;
}

.mainContainer p {
  line-height: 30px;
}
.bannerAnimation {
  -webkit-animation: bannerIntro 500ms ease-out forwards;
  animation: bannerIntro 500ms ease-out forwards;
  z-index: 2;
}

.section2Header {
  font-size: 16px;
  color: #0071b3;
}

.projectTitle {
  font-size: 25px;
  color: #0071b3;
  cursor: pointer;
}

.projectTitle:hover {
  color: #3a6fa2;
  text-decoration: underline;
}

.projectContent {
  margin-top: 10px;
  font-size: 18px;
  line-height: 20px;
}

.sectionHeader {
  background: #fff;
  font-size: 2.5em;
  margin: 0 auto -25px;
  padding: 0 20px;
  position: relative;
  width: 175px;
  color: #3a6fa2;
}

.borderSection {
  border-top: 1px solid #ebebeb;
}

.contactTitle {
  font-size: 16px;
  font-weight: bolder;
}

.contactContent {
  font-size: 14px;
}

.contactLink {
  font-size: 14px;
}

.contactLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footerOption {
  color: #0071b3;
  font-weight: bold;
  font-size: 15px;
  margin: 3px 0px;
}

.subfooter {
  background-color: #f4f5f2;
  height: 100%;
  padding: 20px 0px;
}

.footer {
  height: 130px;
  background-color: #0071b3;
}
.peoplePosition {
  font-size: 1.3rem;
  color: rgb(97, 96, 96);
}
.colF {
  display: flex;
  flex-direction: column;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.colF2 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.peopleImage {
  width: 300px;
}
.peopleDescription {
  margin-top: 40px;
  font-size: 1rem;
  color: rgb(97, 96, 96);
  text-align: justify;
}
.peopleTitleFooter {
  margin-top: 30px;
}
@keyframes bannerIntro {
  0% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    -webkit-filter: opacity(0);
    filter: opacity(0);
    -moz-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  }

  100% {
    -webkit-filter: opacity(1);
    filter: opacity(1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@media screen and (max-width: 425px) {
  .navbarOption {
    font-size: 10px;
    width: 25% !important;
    padding: 0px 0px 0px !important;
  }
  .navRes {
    display: flex !important;
    width: 100%;
    justify-content: center;
  }
  .contactTitle {
    font-size: 10px !important;
  }
  .contactContent {
    font-size: 8px !important;
  }
  .contactLink {
    font-size: 10px !important;
  }
  .footerOption {
    font-size: 10px !important;
    margin-left: 0px !important;
  }
  .icon {
    transform: scale(0.8) !important;
  }
  .dis {
    display: none !important;
  }
  .aaa {
    display: flex;
    justify-content: center;
  }
  .content {
    margin-bottom: 10px !important;
  }
  .py-5 {
    padding-top: 10px !important;
  }
  .video {
    height: 200px !important;
  }
  .ads,
  .ads a {
    font-size: 8px !important;
  }
  .charge {
    font-size: 12px;
    margin-top: 20px !important;
  }
  .name {
    font-size: 10px;
  }
  .map {
    height: 200px !important;
  }
  .heroImage {
    height: 220px;
    width: 100%;
    -webkit-animation: none;
    animation: none;
  }
  .logo {
    /* width: 100px; */
    height: 50px;
  }
  .bannerText {
    font-size: 15px;
    width: 100%;
  }
  .bannerTextSection {
    width: 100%;
  }
  .buttonBanner {
    border: 1px solid #fff;
    font-size: 9px;
    padding: 5px 10px;
    margin: 0 5px;
  }
  .bannerContainer {
    height: 220px;
    width: 100%;
  }
  .mainContainer .mainHeader {
    font-size: 15px !important;
    margin: 0 auto !important;
  }
  .text {
    font-size: 10px !important;
  }
  .mainContainer {
    padding: 20px 0 0 !important;
  }
  .mainContainer p {
    line-height: 20px;
  }
  .asdd {
    padding: 1 1 !important;
    margin: 0 0 !important;
  }
  .projectTitle {
    font-size: 13px !important;
  }
  .projectContent {
    font-size: 10px !important;
    margin: 5px 5px !important;
  }
  .sectionTwo {
    max-width: 100%;
    width: 100%;
    margin: 0 0 !important;
  }
  .textBlue1 {
    font-size: 10px !important;
  }
  .mmm {
    margin-top: 10px !important;
  }
  .sectionHeader {
    font-size: 15px !important;
    text-align: center !important;
  }
  .new {
    height: 100% !important;
  }
  .New {
    margin: 10px !important;
  }
  .textBlue1 {
    font-size: 12px !important;
  }
  .date {
    font-size: 10px !important;
    text-align: center !important;
  }
  .peopleDescription {
    margin-top: 30px;
    font-size: 0.5rem;
  }
  .colF2 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .peopleTitle {
    font-size: 1rem;
  }
  .peoplePosition,
  .peopleTitleFooter {
    font-size: 0.6rem;
  }
  .peopleTitleFooter {
    align-self: start;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .navbarOption {
    font-size: 20px;
  }
  .charge {
    font-size: 25px;
  }
  .name {
    font-size: 15px;
  }
  .peopleDescription {
    font-size: 0.9rem;
  }
  .colF2 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .peopleTitle {
    font-size: 2rem;
  }
  .peoplePosition,
  .peopleTitleFooter {
    font-size: 1.1rem;
  }
  .peopleTitleFooter {
    align-self: start;
  }
  .peopleImage {
    width: 100%;
  }
  .bannerText {
    font-size: 25px;
    width: 100%;
  }
  .buttonBanner {
    font-size: 15px;
    padding: 5px 10px;
    margin: 0 5px;
  }
  .heroImage {
    -webkit-animation: none;
    animation: none;
  }
}
